<form [formGroup]="editForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="mb-3">
    <label class="form-label">Title</label>
    <input formControlName="title" type="text" class="form-control" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Content</label>
    <input formControlName="content" type="text" class="form-control" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Author</label>
    <input formControlName="author" type="text" class="form-control" required>
  </div>

  <button type="submit" class="btn btn-primary">Update</button>
</form>
