<div class="container">
  <div class="row align-items-md-strech">
    <div class="col-md-12">

      <div class="h-100 p-4 text-white bg-dark rounded-3 text-center">
        <h3>CRUD Angular + Firebase</h3>
        <img src="../assets/images/angular_solidBlack.svg" alt="Logo" width="100" height="100">
      </div>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>
